########################################
# Node / Package managers
########################################
node_modules
**/node_modules

.pnpm-store
.pnpm-debug.log*

########################################
# Build outputs
########################################
dist
**/dist

build
**/build

########################################
# Turbo / Monorepo
########################################
.turbo

########################################
# Vite / VitePress
########################################
.vite
**/.vite
.vitepress/dist
**/.vitepress/cache

########################################
# Coverage / Test artifacts
########################################
coverage
**/coverage

########################################
# TypeScript
########################################
*.tsbuildinfo

########################################
# Logs
########################################
pnpm-debug.log*

########################################
# OS / Editor
########################################
.DS_Store
.idea
.vscode
*.swp

########################################
# Env files
########################################
.env
.env.*
